# Tuples
# Tuple methods

In [ ]:
#  Tuple is a collection of objects 
# tuple uses parenthesis
# tuples are immutable , i.e not changeable

In [83]:
# Advantages

# tuples are immutable, iterating through tuple is fast compared to list 
# If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

In [5]:
# Creating a tuple

t=()
print(type(t))

<class 'tuple'>

In [6]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [7]:
a=(1,23,23)    #interger tuple
a

(1, 23, 23)

In [9]:
b = (1,'welcome',90.0) #tuple of different types
b

(1, 'welcome', 90.0)

In [10]:
# tuple packing 

t= 1, 'python', 78.6

print(t)

x,y,z=t

print(x)
print(y)
print(z)

(1, 'python', 78.6)
1
python
78.6

In [17]:
t=('hhh')   #creating tuple with one element is a bit tricky
print(type(t))

<class 'str'>

In [18]:
t=('hello',)
print(type(t))

<class 'tuple'>

In [20]:
t='hello',
print(type(t))

<class 'tuple'>

In [22]:
#Accessing tuple elements

t=('p','y','t','h','o','n')
print(t[0])
print(t[1])

p
y

In [27]:
#nested tuple --> are accessed with nested indexing

t=('mouse',[1,3,5],(90,78,6))
t[1][0]

1

In [28]:
t[1][1]

3

In [29]:
t[1][2]

5

In [30]:
t[2][0]

90

In [31]:
#negative indexing

t[-1]

(90, 78, 6)

In [32]:
t[-2]

[1, 3, 5]

In [33]:
t[-1][0]

90

In [37]:
#Slicing   --> we can access range of elements using slicing operator colon :

t=(10,20,30,40,50,160)

In [38]:
t[:3]

(10, 20, 30)

In [39]:
t[2:5]

(30, 40, 50)

In [40]:
t[-1:]

(160,)

In [50]:
# print elements from start to end

t[:]

(10, 20, 30, 40, 50, 160)

In [51]:
t[1:5:2]   # start,stop, step

(20, 40)

In [42]:
#print elements in reverse order
t[::-1]

(160, 50, 40, 30, 20, 10)

In [44]:
#print all alternative elements

t[1::2]

(20, 40, 160)

In [45]:
t[::2]

(10, 30, 50)

In [49]:
#sum of elements

sum(t)

310

In [47]:
#minimum element

min(t)

10

In [48]:
#maximum element

max(t)

160

In [52]:
#changing tuple elements not possible but if the element is ba list ,its nested items can be changed

t=(1,2,3,[10,20,30])

In [53]:
t

(1, 2, 3, [10, 20, 30])

In [55]:
t[0]=100   #displays error

TypeError: 'tuple' object does not support item assignment

In [56]:
t[3][0]

10

In [57]:
t[3][0]=101

In [58]:
t

(1, 2, 3, [101, 20, 30])

In [60]:
# Concatenate operator '+'

t1=(1,2,3)
t2=(4,5,6)
t1+t2   #combines two tuples

(1, 2, 3, 4, 5, 6)

In [63]:
# repeation operator '*'

t1=(10,90,65)
t1*3    #repeat tuple elements 3 times

(10, 90, 65, 10, 90, 65, 10, 90, 65)

In [64]:
# Deleting a tuple

t

(1, 2, 3, [101, 20, 30])

In [65]:
del t

In [66]:
t

NameError: name 't' is not defined

In [72]:
# tuple methods   , methods are not available to add or remove elements from tuple , bcz tuples are immutable

t=(10,20,90,76,56,45,43,10,20,30,10)
t.index(90)  # to get index of tuple elements

2

In [74]:
t.count(10)  #occurance  of element in a given tuple

3

In [76]:
# membership operator   --> in

# existance of a element in a given string

print(10 in t)

True

In [77]:
print(1000 in t)

False

In [81]:
#Iterating through a tuple

for i in t:
    print(i,end=" ")

10 20 90 76 56 45 43 10 20 30 10