In [1]:
#Dictionary --> set of key,value pair
# In dictionary key acts as a index to access values

In [8]:
#creating an empty dictionary

d=dict()

In [7]:
type(d)

dict

In [10]:
d1={}

In [11]:
type(d1)

dict

In [12]:
d={1:"sai",2:"ram"}   #dictionary with interger keys
d

{1: 'sai', 2: 'ram'}

In [47]:
d.keys()

dict_keys([1, 2])

In [48]:
d.values()

dict_values(['sai', 'ram'])

In [50]:
d.items()

dict_items([(1, 'sai'), (2, 'ram')])

In [14]:
d1={'name':'bhanu','age':23,1:[1,2,3]}  #dictionary with mixed keys
d1

{'name': 'bhanu', 'age': 23, 1: [1, 2, 3]}

In [15]:
d2=dict({1:900,'name':'ram'})

In [16]:
d2

{1: 900, 'name': 'ram'}

In [20]:
#Accessing dictionary values by using keys as index

d2[1]

900

In [21]:
d2['name']

'ram'

In [22]:
# Changing and adding dictionary elements

d2['name']='anandh'  #changing
d2

{1: 900, 'name': 'anandh'}

In [24]:
d2['age']=23  #adding 
d2

{1: 900, 'name': 'anandh', 'age': 23}

In [25]:
len(d2)   #length

3

In [28]:
#Removing elements from dictionary

#pop()

d2.pop('age')  #removes item based on key

23

In [29]:
d2

{1: 900, 'name': 'anandh'}

In [31]:
d2.popitem()   #removes item in key,value pair

('name', 'anandh')

In [32]:
d2

{1: 900}

In [34]:
# del , to remove individual elements or dictionary itself

a={1:23,2:78,3:87}

In [35]:
del a[1]

In [36]:
a

{2: 78, 3: 87}

In [39]:
del a

In [41]:
a

NameError: name 'a' is not defined

In [37]:
# clear  , clear dictionary

b={6:89,7:876}
b.clear()

In [38]:
b

{}

In [43]:
dir(b)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [46]:
d1={1:56,2:89}
d2={2:89,3:244}
d1=d2.copy()   # copying d2 into d1
d1

{2: 89, 3: 244}

In [53]:
d1.update({2:200})   #updating value by using key

In [54]:
d1

{2: 200, 3: 244}

In [55]:
d1.get(2)   #returns the value of given key

200

In [56]:
#Builtin dictionary methods

#all(),any(),len(),sorted()

len(d1)

2

In [57]:
sorted(d1)

[2, 3]

In [58]:
sorted(d1,reverse=True)

[3, 2]

In [59]:
#Dictionary membership 

print(2 in d1)

True

In [64]:
#Iterating through a dictionary

for k,v in d1.items():
    print(k,':',v,',',end=" ")

2 : 200 , 3 : 244 ,

In [71]:
d1

{2: 200, 3: 244}

In [73]:
for i in d1:
    print(d1[i])

200
244

In [74]:
#dictionary comprehension

squares = {x:x*x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [80]:
x=(1,2,3)
y=('sai')

d=dict.fromkeys(x,y)
d

{1: 'sai', 2: 'sai', 3: 'sai'}

In [87]:
#Setdefault --> returns value if key is present , otherwise returns none or default value

d1={1:'gayatri',2:'sai',3:'aanandh'}

p=d1.setdefault(1)
print("default",p)
print(d1)

default gayatri
{1: 'gayatri', 2: 'sai', 3: 'aanandh'}