In [1]:
# Sets

# A set is a unordered Collection of items. Every set element is unique(no duplicate) and must be immutable

In [26]:
# Creating sets

s={1,2,3}
print(type(s))

<class 'set'>

In [33]:
s1=set()
print(type(s1))

<class 'set'>

In [41]:
#since sets are unordered, we can't access or change an element of a set using indexing or slicing
s1={1,'hello',(10,20,3)}

In [42]:
s1

{(10, 20, 3), 1, 'hello'}

In [43]:
# add()   --> to add single item to a set

s1.add(1000)

In [44]:
s1

{(10, 20, 3), 1, 1000, 'hello'}

In [45]:
s1.add('wa')

In [46]:
s1

{(10, 20, 3), 1, 1000, 'hello', 'wa'}

In [49]:
# update() --> to add multiple elements to a set i.e list,tuple,set

s1.update((101,202))

In [53]:
s1

{(10, 20, 3), 1, 10, 1000, 101, 2, 202, 3, 90, 'hello', 'wa'}

In [55]:
s1.update({'sai','ram'})

In [56]:
s1

{(10, 20, 3), 1, 10, 1000, 101, 2, 202, 3, 90, 'hello', 'ram', 'sai', 'wa'}

In [57]:
# discard an element

s={1,2,3,4,5}
s.discard(5)

In [58]:
s

{1, 2, 3, 4}

In [59]:
# removing an element

s={10,20,30,40,50}
s.remove(20)

In [60]:
s

{10, 30, 40, 50}

In [61]:
#set of unique elements
s=set('helloworld')
s

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [62]:
#pop an set elements

s.pop()

'e'

In [63]:
s.pop()

'o'

In [64]:
# clear a set
s.clear()

In [65]:
s

set()

In [71]:
# Set operations

A={1,2,3,4,5}
B={5,6,7,8,9,10}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [72]:
A

{1, 2, 3, 4, 5}

In [78]:
B

{5, 6, 7, 8, 9, 10}

In [79]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [80]:
A.intersection(B)

{5}

In [82]:
B.intersection(A)

{5}

In [83]:
# Difference of two sets  accomplished by '-' ,some by difference method.

A-B   #Elements that are only in  A, but  not in B

{1, 2, 3, 4}

In [85]:
B-A   #Elements that are only in B, but not in A

{6, 7, 8, 9, 10}

In [87]:
print(A)
print(B)
A.difference(B)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}

{1, 2, 3, 4}

In [89]:
#Symetric difference  

print(A)
print(B)
A.symmetric_difference(B)  #elements of both A and B , excluding intersection elements

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [90]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [110]:
x={1,2,3}
y={7,8,3}
x=y.copy()

In [111]:
x

{3, 7, 8}

In [112]:
s1={1,2,3}
s2={1,2,3,4,5,6,7,8,9,10}
s1.issubset(s2)

True

In [113]:
s2.issuperset(s1)

True

In [132]:
c={1,2}
d={7,8,3,100}

print(c.isdisjoint(d))  #returns true if both sets have null intersection

True

In [133]:
#Set membership test

print(i in c)

True

In [134]:
#Iterating through a set

for i in c:
    print(i)

1
2

In [135]:
#Builtin functions with sets

all(c) #returns true if set have all elements ,i.e set is not empty

True

In [136]:
any(c) #returns true if any element of set is true, otherwise returns false

True

In [137]:
c.clear()

In [138]:
any(c)

False

In [139]:
d

{3, 7, 8, 100}

In [140]:
print(min(d))
print(max(d))
print(sum(d))
print(len(d))

3
100
118
4

In [143]:
sorted(d,reverse=True)

[100, 8, 7, 3]

In [147]:
enumerate(d)